<%- include('layout/header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card shadow">
                <div class="card-header bg-success text-center">
                    <h3 class="text-light">Изменить товар (<%= product.name %>)</h3>
                </div>
                <div class="card-body p-4">
                    <form action="/update/<%= product._id%>" method="post" id="add-form" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="name">Имя товара</label>
                            <input type="text" name="name" class="form-control form-control-lg" placeholder="Введите имя" value="<%= product.name %>" required />
                        </div>
                        <div class="mb-3">
                            <label for="name">Количество товара</label>
                            <input type="number" name="count" class="form-control form-control-lg" placeholder="Введите число" value="<%= product.count %>" required />
                        </div>
                        <div class="mb-3">
                            <label for="name">Куплено</label>
                            <input type="number" name="bought" class="form-control form-control-lg" placeholder="Введите число" value="<%= product.bought %>" required />
                        </div>
                        <div class="mb-3">
                            <label for="name">Продано</label>
                            <input type="number" name="sold" class="form-control form-control-lg" placeholder="Введите число" value="<%= product.sold %>" required />
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">Фото товара</label>
                            <input class="form-control form-control-lg" type="file" name="image" />
                            <img src="/<%= product.image %>" width="75" class="img-thumbnail mt-1">
                        </div>
                        <input type="hidden" name="old_image" value="<%= product.image %>">
                        <div class="mb-3 d-grid">
                            <input type="submit" name="submit" value="Изменить" class="btn btn-success btn-lg" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('layout/footer') %>